.mapchart-wrapper {
  width: 100%;
  background: rgb(224, 242, 254);
  border-radius: 8px;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.08);
}

.rsm-geography {
  outline: none;
  stroke: #fff;
  stroke-width: 0.3;
  transition: fill 0.2s, stroke 0.2s;
  cursor: pointer;
}

#country-tooltip {
    max-width: 250px;
    padding: 8px 12px;
    background-color: rgba(255,255,255,0.95);
    border: 1px solid #ccc;
    border-radius: 6px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.2);
    font-family: Arial, sans-serif;
    color: #333;
    font-size: 14px;
}

#country-tooltip h3 {
    margin: 0 0 4px 0;
    font-size: 16px;
    color: #333;
}

#country-tooltip p {
    margin: 0;
    font-size: 14px;
    color: #555;
    direction: rtl;
    word-break: break-word;
    line-height: 1.4;
}
